* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-family: Sen;
}

:root {
	--accent: rgb(50, 85, 85);
	--win: rgb(0, 128, 100);
	--bg: rgb(30, 31, 35);
	--bg-alt: rgb(39, 40, 44);
	--bg-alt2: rgb(36, 37, 41);
	--hover: rgb(44, 45, 49);
	--text: rgb(240, 240, 240);
	--text-alt: rgb(170, 170, 170);
	--lightest: 0.075;
	--light: 0.1;
	--dark: 0.125;
	--darkest: 0.175;
	--radius: 30px;
	--close-shadow: 0 2px 6px rgba(0, 0, 0, var(--lightest)), 0 8px 14px rgba(0, 0, 0, var(--light));
	--distant-shadow: 0 2px 6px rgba(0, 0, 0, var(--dark)), 0 12px 20px rgba(0, 0, 0, var(--darkest));
	--transition: background-color 0.25s, box-shadow 0.25s, border-color 0.25s, transform 0.2s, opacity 0.25s;
}

.box {
	border-radius: var(--radius);
	box-shadow: var(--close-shadow);
	transition: var(--transition);
}

.box:hover {
	box-shadow: var(--distant-shadow);
}

header {
	margin: min(40px, 5vw) 10px 10px;
	padding: 15px 30px;
	font-size: min(34px, 7vw);
	text-align: center;
	color: var(--text-alt);
	background-color: var(--hover);
	box-shadow: var(--distant-shadow);
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: var(--bg);
}

button {
	cursor: pointer;
}

button:active {
	transform: scale(0.85);
}

span {
	pointer-events: none;
}

#players {
	margin: min(25px, 2.5vw) 0;
	width: 95vw;
	max-width: 470px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	text-align: center;
}

.player {
	margin: 10px 20px;
	padding: 10px 20px;
	position: relative;
	font-size: 22px;
	color: var(--text-alt);
	background-color: var(--bg-alt2);
}

.player.active {
	font-weight: 600;
	color: var(--text);
	box-shadow: var(--distant-shadow);
	transform: scale(1.25);
}

.player.active:active {
	transform: scale(1.1);
}

#player-one.active {
	background-color: rgb(179, 40, 70);
}

#player-two.active {
	background-color: rgb(65, 40, 179);
}

.player span {
	position: absolute;
	top: -14px;
	box-shadow: var(--distant-shadow);
	transform: scale(0);
	opacity: 0;
	transition: opacity 0.25s, transform 0.5s cubic-bezier(0.15, 0.885, 0.2, 1.5);
}

.player .winner-icon {
	padding: 5px;
	right: -14px;
	color: rgb(230, 190, 0);
	background-color: rgb(50, 50, 35);
}

.player .ai-icon {
	padding: 7px;
	left: -14px;
	font-size: 17px;
	font-weight: 600;
	color: rgb(0, 100, 230);
	background-color: rgb(35, 40, 50);
}

.player.winner .winner-icon {
	transform: scale(1);
	opacity: 1;
}

.player.ai .ai-icon {
	transform: scale(1);
	opacity: 1;
}

#menu-container {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 10;
	top: 0;
	background-color: rgba(0, 0, 0, 0.35);
	transition: var(--transition);
}

#menu-container.hidden {
	pointer-events: none;
	opacity: 0;
}

#menu-container.hidden #player-menu {
	transform: scale(0.8);
}

#player-menu {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: var(--transition);
}

#player-menu *:not(form):not(span) {
	margin: 10px 5px;
	color: var(--text);
	background-color: var(--bg-alt);
	box-shadow: var(--distant-shadow);
}

#player-menu input {
	padding: 10px 20px;
	width: 230px;
	box-sizing: border-box;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	color: var(--text-alt);
	border: 2px solid transparent;
}

#player-menu input:hover {
	background-color: var(--hover);
}

#player-menu input:focus {
	color: var(--text);
	background-color: var(--hover);
	border-color: var(--accent);
}

#player-menu > button {
	padding: 10px 20px;
	font-size: 20px;
}

#player-menu > button .material-icons-outlined {
	font-size: 22px;
	vertical-align: sub;
}

#player-menu button:hover {
	background-color: var(--accent);
}

#board {
	margin: 0 10px;
	height: 90vw;
	max-height: 420px;
	width: 90vw;
	max-width: 420px;
	display: grid;
	grid: repeat(3, 1fr) / repeat(3, 1fr);
}

.tile {
	margin: min(10px, 2.2vw);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: var(--text);
	border-radius: min(var(--radius), 6.5vw);
	background-color: var(--bg-alt);
	box-shadow: var(--close-shadow);
	transition: var(--transition);
}

.tile.marked {
	cursor: not-allowed;
	background-color: var(--bg-alt2);
	transform: scale(0.975);
}

.tile span {
	user-select: none;
	font-size: min(100px, 20vw);
	transform: scale(0.5);
	opacity: 0;
	transition: var(--transition);
}

.tile.marked span {
	transform: scale(1);
	opacity: 1;
}

.tile.win {
	background-color: var(--win);
	box-shadow: var(--distant-shadow);
	transform: scale(1.1);
}

.tile:not(.marked):not(.win):hover {
	background-color: var(--hover);
	box-shadow: var(--distant-shadow);
	transform: scale(1.05);
}

#restart {
	margin: min(35px, 5vw) 10px;
	padding: 12px 24px;
	font-size: 23px;
	font-weight: 600;
	color: var(--text);
	background-color: var(--bg-alt);
}

#restart span {
	font-size: 25px;
	vertical-align: sub;
	transition: transform 0.35s;
}

#restart:hover {
	background-color: var(--accent);
}

#github {
	margin-bottom: 25px;
	padding: 10px 20px;
	display: inline-block;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	color: var(--text);
	background-color: var(--hover);
	transition: var(--transition);
}

#github img {
	height: 25px;
	margin-left: 10px;
	position: relative;
	top: -1px;
	vertical-align: middle;
	filter: invert(.95);
}

#github:hover {
	transform: scale(1.1);
}
